<div class="homeWraper py-5 container">
  <div class="row">
    <div class="col-xs-12 col sm-12 md-6 col-lg-6">
      <h3 class="px-5"> {{userName}} repositories</h3>
    </div>
    <div class="col-xs-12 col sm-12 md-6 col-lg-6" style="text-align: right ;">
      <button type="button" class="btn btn-info" [routerLink]="['/home']">back</button>
    </div>
  </div>
  <div class="list-group">
    <ul>
      <li class="list-group-item list-group-item-action" 
      *ngFor="let repo of repository"
      >
      {{repo.name}}
    </li>
    </ul>
  </div>
</div>